* {
    box-sizing: border-box;
  }

body, html {
    background-color: #f8eee7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 0.1rem;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }

  body {
    min-height: 100%;
  }


  p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
  } 
  
  #header2 {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background: rgba(248, 238, 231, 0.0);
    transition: 0.3s;
    z-index: 1;
    backdrop-filter: blur(2px);
    padding: 10px;
    padding-left: 11%;
    padding-right: 11%;
  }

  #header2.small {
    height: 80px;
    background: rgba(248, 238, 231, 0.8);
    border-bottom: solid 3px #967b59;
  }

  #header_logo {
    font-family: 'Courgette', cursive;
    color: #fff;
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
  }

  #header_logo:hover {
    color: #ebd2b1;
    transition: 0.3s;
  }

  #header_logo.small {
    font-size: 30px;
    color: #5E4D36;
  }

  #header_logo.small:hover {
    color: #b89c7b;
  }

  .logo-cont {
    align-items: center;
    margin-right: 8%;
  }

  #nav-cont.small {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    /*transition: 0.3s ease-in-out;*/
  }
/* standard nav
*/

  @media only screen and (min-width: 768px) {
  #nav-cont{
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  }
  
  #test {
    width: 100%;
  flex: 1 1 auto;
  top: 50%;
  transform: translateY(25%);
  }

  #nav-icon1, #nav-icon2,
  #nav-icon3 {
  display: inline-block;
  }
  
  #nav-icon1::after {
    content: '';
    display: block;
    width: 0;
    height: 18px;
    background-image: url(../img/saukstas.png);
    background-size: 100% 100%;
    filter: invert(55%) sepia(27%) saturate(1317%) 
    hue-rotate(314deg) brightness(97%) contrast(108%);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
  }

  #nav-icon1:hover::after, 
  #nav-icon2:hover::after,
  #nav-icon3:hover::after {
    width: 100%;
  }

  #nav-icon1::after {
    filter: invert(95%) sepia(10%) saturate(1039%) 
    hue-rotate(313deg) brightness(95%) contrast(79%);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
  }
  #nav-icon1.scroll::after {
    filter: invert(66%) sepia(30%) saturate(470%) 
    hue-rotate(341deg) brightness(89%) contrast(83%);
  }
 
  #nav-icon2::after {
    content: '';
    display: block;
    width: 0;
    height: 18px;
    background-image: url(../img/sakute.png);
    background-size: 100% 100%;
    filter: invert(55%) sepia(27%) saturate(1317%) 
    hue-rotate(314deg) brightness(97%) contrast(108%);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
  }

  #nav-icon2::after {
    filter: invert(80%) sepia(14%) saturate(787%) 
    hue-rotate(333deg) brightness(105%) contrast(102%);
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
  }
  #nav-icon2.scroll::after {
    filter: invert(67%) sepia(96%) saturate(425%) 
    hue-rotate(319deg) brightness(102%) contrast(101%);
  }

    #nav-icon3::after {
      content: '';
      display: block;
      width: 0;
      height: 18px;
      background-image: url(../img/peilis.png);
      background-size: 100% 100%;
      filter: invert(55%) sepia(27%) saturate(1317%) 
      hue-rotate(314deg) brightness(97%) contrast(108%);
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    } 
  
    #nav-icon3::after {
      filter: invert(74%) sepia(9%) saturate(669%) 
      hue-rotate(314deg) brightness(114%) contrast(105%);
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    }
    #nav-icon3.scroll::after {
      filter: invert(51%) sepia(15%) saturate(2174%) 
      hue-rotate(314deg) brightness(104%) contrast(100%);
    }
  
  #navbtnon {
    display: none;
  }
  
  #hmbrnav {
    display: flex;
    
    position: relative;
    align-items: center;
    height: 100%;
    top: 50%;
    transform: translateY(25%);
  }
  
  #hmbrnav a {
    display: flex;
    /*margin: 0px 8px 0px 32px;*/
    flex-direction: column;
    width: 100%;
    height: 100%;
   
    margin: 0% 10% 0% 10%;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
  }

  #hmbrnav a:hover:nth-child(4) {
    color: #dbc6b7;
  }

  #hmbrnav a:hover:nth-child(5) {
    color: #ffd0b1;
  }

  #hmbrnav a:hover:nth-child(6) {
    color: #ffd4d2;
  }
  
  #hmbrnav .closebtn {
    display: none;
  }
  
  #hmbrnav.smol a {
    color: #5E4D36;
  }

  #hmbrnav.smol a:hover:nth-child(4) {
    color: #c09273;
  }

  #hmbrnav.smol a:hover:nth-child(5) {
    color: #ec8c4c;
  }

  #hmbrnav.smol a:hover:nth-child(6) {
    color: #ff6961;
  }

  #hmbrnav a:nth-child(3) {
    display: none;
  }

  .fa.trys {
    padding: 0px;
    font-size: 35px;
    color: #fff;
    width: 35px;
    text-decoration: none;
  }

  #phoneicon.phonecolor {
    transition: 0.3s;
    color: #ff6961;
  }

  #headerkontaktai {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 100%;
    height: 100%;
    margin-left: 10%;
   /* margin-right: 5%;*/
  }

  p.hdrkontaktai {
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
  }

  #headerkontaktai.kntktcolor p {
    color: #5E4D36;
  }

  #navkontaktai {
    display: none;
  }
  p.navkontaktai {
    display: none;
  }

  .svg-class {
    display: none;
  }

}
  
@media only screen and (max-width: 1150px) {
  #headerkontaktai {
    display: none;
  }
}

/* borgar nav
*/

@media only screen and (max-width: 768px) {
   
  #header2 {
    height: 110px;
    backdrop-filter: blur(0px);
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

  #header2.small {
    height: 70px;
    background: rgba(248, 238, 231, 0.99);
    border-bottom: solid 3px #967b59;
  }

  #header_logo {
    font-family: 'Courgette', cursive;
    color: #fff;
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: .3s;
    transition: .3s;
  }

  #header_logo.small {
    font-size: 30px;
    color: #967b59;
  }

    #navbtnon {
      font-size: 40px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 5%;
      -webkit-transform: translate(-5%, -50%);
          -ms-transform: translate(-5%, -50%);
              transform: translate(-5%, -50%);
      color: #fff;
    }

    #navbtnon.navbtncolor {
      color: #967b59;
    }
    
    #hmbrnav {
      height: 100vh;
      width: 0;
      position: fixed;
      z-index: 11;
      top: 0;
      right: 0;
      background-color: #967b59;
      overflow-x: hidden;
      overflow-y: hidden;
      padding-top: 100px;
    }

    #svg-container {
      position: absolute;
      top: 40%;
      left: 50%;
      z-index: -1;
    }

    .svg-class {
      display: none;
    }

    #navigation-bg {
     fill: #a78e70;
    }
    
    #hmbrnav a {
      padding: 12px 10px 12px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #ecdccc;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      z-index: 5;
    }
    
    #hmbrnav a:hover {
      color: #2b2520;
    }
    
    #hmbrnav .closebtn {
      position: absolute;
      top: 0;
      right: 5%;
      font-size: 75px;
    }
    
    .fa.trys {
      padding: 0px;
      font-size: 35px;
      color: #fff;
      width: 35px;
      text-decoration: none;
    }
    #phoneiconnav {
      color: #fff;
    }

    #headerkontaktai {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin-right: 5%;
      display: none;
    }
    
    p.hdrkontaktai {
      font-size: 18px;
      color: #fff;
      transition: 0.3s;
    }

    #navkontaktai {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 10%;
    }
    p.navkontaktai {
      font-size: 24px;
      color: #fff;
      transition: 0.3s;
    }
    
  }

  .header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(90, 75, 57, 0.7) 0%, rgba(150, 123, 89, 0.5) 100%), 
    url(../img/header.jpg) no-repeat center center;
    color: white;
  }

  .header-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
  }

  .header-slideshow,
  .header-slideshow:after { 
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0; 
  }
  
  .header-slideshow li span { 
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      /*color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;*/
      opacity: 0;
      z-index: 0;
      animation: headerslide 25s ease infinite 0s; 
  }
  
  .header-slideshow li:nth-child(1) span {  
      background: linear-gradient(60deg, rgba(90, 75, 57, 0.7) 0%, rgba(150, 123, 89, 0.5) 100%), 
      url(../img/header-ss1.jpg) no-repeat center center;
      animation-delay: 5s; 
      
  }
  .header-slideshow li:nth-child(2) span { 
    background: linear-gradient(60deg, rgba(90, 75, 57, 0.7) 0%, rgba(150, 123, 89, 0.5) 100%), 
    url(../img/header-ss2.jpg) no-repeat center center;
      animation-delay: 10s; 
  }
  
  @keyframes headerslide { 
      0% { opacity: 0; }
      5% { opacity: 0;}
      10% { opacity: 1;}
      40% { opacity: 1 }
      45% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  /*.no-cssanimations .cb-slideshow li span {
    opacity: 1;
  }*/

  .inner-header {
    height: 70vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .innerhdr-col {
      flex-direction: column;
  }

  h1.hdr {
    font-family: 'Courgette', cursive;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 7.5em;
    margin: 0;
  }

  p.subhdr {
    font-family: 'Courgette', cursive;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
  }

  p.subhdr.ss1 {
    opacity: 0;
    animation: headertextslide1 25s ease-in infinite 0s; 
    animation-delay: 0s;
  }

  p.subhdr.ss2 {
    opacity: 0;
    animation: headertextslide2 25s ease-in infinite 0s; 
    animation-delay: 5s; 
  }

  @keyframes headertextslide1 { 
    0% { opacity: 0; }
    28% { opacity: 0;}
    30% { opacity: 1;}
    48% { opacity: 1 }
    51% { opacity: 0 }
    100% { opacity: 0 }
  }
  @keyframes headertextslide2 { 
    0% { opacity: 0; }
    28% { opacity: 0;}
    30% { opacity: 1;}
    58% { opacity: 1 }
    61% { opacity: 0 }
    100% { opacity: 0 }
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  .parallax>use {
    animation: animation-loop 25s cubic-bezier(.6, .6, .50, .6) infinite;
  }

  .parallax>use {
    animation-duration: 9s;
  }
  
  @keyframes animation-loop {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  @media (max-width: 768px) {
    .waves {
      height: 8vh;
      min-height: 70px;
    }
    h1.hdr {
      font-size: 60px;
    }
  }

  /***********************************************
  ************************************************
  ***********************************************
  ************************************/
  .content-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /*height: 90vh;*/
    
    margin: 0;
    padding: 0;
  }

  .menu-header-cont {
    margin: 48px;
  }
  
  p.menu-header {
    font-family: 'Courgette', cursive;
    font-size: 3em;
    color: #5E4D36;
    margin: 0;
    text-align: center;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    margin: 1.5% 10% 1.5% 10%;
    /*width: 70%;*/

  }

  .menu-text-cotainer {
    display: flex;
    align-self: center;
    width: 70%;
    padding: 2%;
    /*background-color: #f7e6cf;*/
  }
  .text-center {
  
    text-align: center;
  }

  p.menu-text {
    
    color: #967b59;
    font-size: 1.1em;
    text-align: center;
  }

  .menu-left-column {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-right: 5%;
  }

  .svg-menu1-1-container {
    align-self: center;
    position: relative;
    width: 80%;
    margin-bottom: -5px;
  }
  .svg-menu1-1-container path{
   fill: #967b59;
  }

  .svg-menu1-2-container {
    align-self: center;
    position: relative;
   width: 80%;
  }

  .svg-menu1-2-container path{
    fill: #967b59;
   }

  .menu-img-container {
    display: flex;
    background-color: #967b59;
    width: 650px;
    border-radius: 120px 15px 120px 15px;
    border: 20px solid #967b59;
    margin-left: 5%;
    transition: 0.3s;
    text-decoration: none;
  }

  .menu-img-sub {
    display: flex;
    background-color: #967b59;
    width: 100%;
    border-radius: 120px 15px 120px 15px;
    border: 10px solid #b89c7b;
    transition: 0.3s;
  position: relative;
  }
  
.img {
  background: linear-gradient(60deg, rgba(90, 75, 57, 0.7) 0%, rgba(150, 123, 89, 0.5) 100%), 
  url(../img/header-ss4.jpg) no-repeat center center;
  width: 100%;
  background-size: cover;
  border-radius: 110px 5px 110px 5px;
  opacity: 1;
  text-align: center;
  transition: 0.3s;
}

.menu-img-container:hover {
  border: 20px solid #b89c7b;
  border-radius: 140px 15px 140px 15px;
  background-color: #b89c7b;
}

.menu-img-container:hover .img {
  border-radius: 110px 1px 110px 1px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-img-container:hover .img p{
  transition: 0.3s;
  opacity: 1;
  color: #fff;
}

.menu-img-container:hover .menu-img-sub {
  background-color: #5E4D36;
  border: 13px solid #b89c7b;
  border-radius: 170px 15px 170px 15px;
}

p.menu-img-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-100%);
  font-family: 'Courgette', cursive;
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  z-index: 1;
}

  
 /* .svg-cotainer {
    width: 500px;
    height: 500px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M51.6,-70.8C65.8,-60.6,75.6,-44.2,77.8,-27.6C79.9,-11.1,74.4,5.7,67.4,20.2C60.3,34.8,51.8,47.2,40.4,54.8C28.9,62.5,14.4,65.3,0.2,65C-14,64.6,-27.9,61.2,-42.7,54.6C-57.4,48,-73,38.4,-76.3,25.4C-79.6,12.5,-70.7,-3.8,-65.6,-21.8C-60.5,-39.8,-59.1,-59.6,-48.7,-71.1C-38.4,-82.6,-19.2,-85.8,-0.3,-85.4C18.7,-85,37.3,-81,51.6,-70.8Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    z-index: 15;
  }*/



  /***********************************************
  ************************************************
  ***********************************************
  ************************************/
  
  .waves-footer {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  .parallax-footer>use {
    animation: animation-loop-footer 25s cubic-bezier(.6, .6, .50, .6) infinite;
  }

  .parallax-footer>use {
    animation-duration: 12s;
  }
  
  @keyframes animation-loop-footer {
    0% {
      transform: translate3d(90px, 0, 0);
    }
    100% {
      transform: translate3d(-85px, 0, 0);
    }
  }

  @media (max-width: 768px) {
    .waves-footer {
      height: 8vh;
      min-height: 70px;
    }
  }

  #footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 20vh;
    width: 100%;
    position: relative;
    background-color: #967b59;
    padding: 2%;
  }

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  @media only screen and (min-width: 768px) {

    /*.testas top {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 612 612' version='1.1' viewBox='0 -100 612 612' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m592.88 516.38h-573.75c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h573.75c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125zm-267.75-382.5v-38.25h38.25c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125h-114.75c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h38.25s-0.134 39.818 0 38.25c-160.04 9.926-286.88 143.46-286.88 306v19.125s8.568 19.125 19.125 19.125h573.75c10.557 0 19.125-8.568 19.125-19.125s0-2.391 0-19.125c0-162.54-126.84-296.07-286.88-306zm-286.88 306c0-147.88 119.88-267.75 267.75-267.75s267.75 119.88 267.75 267.75h-535.5z'/%3E%3C/svg%3E");

    }
    .testas bot {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 612 612' version='1.1' viewBox='0 500 612 612' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m592.88 516.38h-573.75c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h573.75c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125zm-267.75-382.5v-38.25h38.25c10.557 0 19.125-8.568 19.125-19.125s-8.568-19.125-19.125-19.125h-114.75c-10.557 0-19.125 8.568-19.125 19.125s8.568 19.125 19.125 19.125h38.25s-0.134 39.818 0 38.25c-160.04 9.926-286.88 143.46-286.88 306v19.125s8.568 19.125 19.125 19.125h573.75c10.557 0 19.125-8.568 19.125-19.125s0-2.391 0-19.125c0-162.54-126.84-296.07-286.88-306zm-286.88 306c0-147.88 119.88-267.75 267.75-267.75s267.75 119.88 267.75 267.75h-535.5z'/%3E%3C/svg%3E");      
    }
*/


    #nav-icon-footer2, #nav-icon-footer3,
    #nav-icon-footer4 {
    display: inline-block;
    }
     
    #nav-icon-footer2:hover::after,
    #nav-icon-footer3:hover::after,
    #nav-icon-footer4:hover::after {
      height: 18px;
    }
  
    #nav-icon-footer2::after {
      content: '';
      display: block;
      height: 0;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 641 140' width='641' height='140'%3E%3Cdefs%3E%3Cpath d='M19.75 34.5C9.4 34.5 1 42.89 1 53.25C1 63.6 9.4 72 19.75 72C24.2 72 46.48 72 86.57 72L101.74 117.5L540.26 117.5L555.43 72C595.52 72 617.79 72 622.25 72C632.6 72 641 63.6 641 53.25C641 42.89 632.6 34.5 622.25 34.5C622.25 34.5 80 34.5 19.75 34.5Z' id='a1BjBHmsPV'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill='%23000000' fill-opacity='1'%3E%3C/use%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill-opacity='0' stroke='%23000000' stroke-width='1' stroke-opacity='0'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      
      background-size: 100% 100%;
      filter: invert(85%) sepia(4%) saturate(928%) 
      hue-rotate(324deg) brightness(115%) contrast(94%);
      -webkit-transition: height .3s;
      -o-transition: height .3s;
      transition: height .3s;
    }
  
      #nav-icon-footer3::after {
        content: '';
        display: block;
        height: 0;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 641 140' width='641' height='140'%3E%3Cdefs%3E%3Cpath d='M19.75 34.5C9.4 34.5 1 42.89 1 53.25C1 63.6 9.4 72 19.75 72C24.2 72 46.48 72 86.57 72L101.74 117.5L540.26 117.5L555.43 72C595.52 72 617.79 72 622.25 72C632.6 72 641 63.6 641 53.25C641 42.89 632.6 34.5 622.25 34.5C622.25 34.5 80 34.5 19.75 34.5Z' id='a1BjBHmsPV'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill='%23000000' fill-opacity='1'%3E%3C/use%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill-opacity='0' stroke='%23000000' stroke-width='1' stroke-opacity='0'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      
        background-size: 100% 100%;
        filter: invert(85%) sepia(4%) saturate(928%) 
        hue-rotate(324deg) brightness(115%) contrast(94%);
        -webkit-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
      } 

      #nav-icon-footer4::after {
        content: '';
        display: block;
        height: 0;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 641 140' width='641' height='140'%3E%3Cdefs%3E%3Cpath d='M19.75 34.5C9.4 34.5 1 42.89 1 53.25C1 63.6 9.4 72 19.75 72C24.2 72 46.48 72 86.57 72L101.74 117.5L540.26 117.5L555.43 72C595.52 72 617.79 72 622.25 72C632.6 72 641 63.6 641 53.25C641 42.89 632.6 34.5 622.25 34.5C622.25 34.5 80 34.5 19.75 34.5Z' id='a1BjBHmsPV'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill='%23000000' fill-opacity='1'%3E%3C/use%3E%3Cg%3E%3Cuse xlink:href='%23a1BjBHmsPV' opacity='1' fill-opacity='0' stroke='%23000000' stroke-width='1' stroke-opacity='0'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      
        background-size: 100% 100%;
        filter: invert(85%) sepia(4%) saturate(928%) 
        hue-rotate(324deg) brightness(115%) contrast(94%);
        -webkit-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
      } 
    

    .footer-nav a {
      display: flex;
      flex-direction: row;
   
      margin: 0% 10px 0% 10px;
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      transition: 0.3s;
    }
  
    .footer-nav a:hover:nth-child(1) {
      color: #ffd4d2;
    }
  
    .footer-nav a:hover:nth-child(2) {
      color: #ffd4d2;
    }
  
    .footer-nav a:hover:nth-child(3) {
      color: #ffd4d2;
    }
  
  }

  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .fa.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 25px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 3px solid #f8eee7;
    box-shadow: 0 0 0 7px #b49b7d;
    height: 30px;
    transition: 0.3s;
  }
  
  .fa-facebook {
    background: #967b59;
    color: #f8eee7;
  }

   .fa.facebook:hover {
    color: #967b59;
    background: #f8eee7;
    border: 3px solid #967b59;
    box-shadow: 0 0 0 7px #f8eee7;
  }
  
  #footer_logo {
    font-family: 'Courgette', cursive;
    color: #f8eee7;
    margin: 0;
    font-weight: normal;
    font-size: 40px;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    cursor: pointer;
  }

  #footer_logo:hover {
    color: #ebd2b1;
    transition: 0.3s;
  }

  .footer-copyright {
    margin: 0;
    padding: 0;
    color: #f8eee7;
    font-size: 0.7em;
  }

  .footer-sources {
    text-decoration: none;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #ffb6b4;
    transition: 0.3s;
  }

  .footer-sources:hover {
    color: #f8eee7;
  }

@media only screen and (max-width: 768px) {
  #footer-cont {
      flex-direction: column;
    }

    .footer-nav {
      flex-wrap: wrap;
      margin: 5%;
    }

    #nav-icon-footer2, #nav-icon-footer3,
    #nav-icon-footer4 {
    display: flex;
    justify-content: center;
    }

    .footer-nav a {
      display: flex;
      flex-direction: row;
      margin: 0% 10px 0% 10px;
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      transition: 0.3s;
    }
  
    .footer-nav a:hover {
      color: #5e4733;
    }

    .fa.facebook {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5%;
      padding: 25px;
      text-align: center;
    }

    .footer-logo {
      margin-bottom: 5%;
    }
    
    .footer-copyright {
      font-size: 0.85em;
    }
  
  }